@model List<ObjectionsForTeamLead>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Tarih</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Durum</th>
            <th scope="col">Kullanıcı Adı Soyad</th>
            <th scope="col">Sonuç</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.ObjectionDate.Day / @item.ObjectionDate.Month / @item.ObjectionDate.Year</th>
                    <td>@item.Description</td>
                    <td>@item.Status</td>
                    <td>@item.EmployeeName @item.EmployeeSurname</td>
                    <td>@item.Response</td>
                    <td><a href="~/Objection/ObjectionReponseForTeamLead?result=1&objectionId=@item.ObjectionId"><button type="button" class="btn btn-success">Kabul Et</button></a></td>
                    <td><a href="~/Objection/ObjectionReponseForTeamLead?result=2&objectionId=@item.ObjectionId"><button type="button" class="btn btn-danger">Reddet</button></a></td>
                </tr>
            }
        }
    </tbody>
</table>
